body {
    background-image:linear-gradient(whitesmoke,rgb(245, 225, 188));
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif;
}

nav
{
    position:relative;
    width:100%;
    height: 45px;
    background:#17F4A7;
    border-radius:8px;
    font-size:15px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
    border:2px solid #34495e;
}
nav a
{
    font-size:18px;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

nav a:hover {
    color: #34495e;
    transition: .75s;
  }
a:nth-child(1)
{
    width:33%;
}
nav .start-home,a:nth-child(1):hover~.animation
{
    width: 33%;
    left:0;
}

a:nth-child(2)
{
    width:33%;
}
nav .start-about,a:nth-child(2):hover~.animation
{
    width: 33%;
    left:33%;
}

a:nth-child(3)
{
    width:33%;
}
nav .start-blog,a:nth-child(3):hover~.animation
{
    width: 33%;
    left:66%;
}

.center{
   display: flex;
    justify-content: center;
    align-items: center;
}

.wallpaper{
    margin-top: 50px;
    margin-bottom: 85px;
    width: 85%;
    height: 400px;
    opacity: .85;
    border-radius: 10px;
}

.HomeTableInfo{
    border: 1px solid black;
    width: 90%;
    text-align: center;
    justify-content: center;
    
}

.frontImage{
    
    
}


.imgHome{
    width: 300px;
   
 
}

.buttonHome{
    border: none;
    border-radius: 10px;
    background-color: #34495e;
    color: #17F4A7;
    font-size: 16px;
    padding: 8px;
}

.buttonHome{
    border: none;
    border-radius: 10px;
    background-color: #34495e;
    color: #17F4A7;
    font-size: 16px;
    padding: 8px;
}


